---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/feature-01.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---
<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<h2 class="text-pretty">Powerful tools to <strong>revolutionize</strong> payments</h2>
			<p class="pb-0 text-lg">
				PayWithIt offers cutting-edge features designed to simplify transactions, improve security,
				and enhance financial operations across the African continent. Explore how our platform can
				make payments effortless for you.
			</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
			<Card
				title="Seamless Cross-Border Payments"
				subtitle="Send and receive payments across Africa with ease, saving time and reducing costs for businesses and individuals."
				image={feature01} 
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="GDPR-Compliant Security"
				subtitle="Rest assured knowing your data and transactions are protected under strict European regulations."
				image={feature02} 
				link="/features"
			/>
			<Card
				title="Real-Time Transaction Tracking"
				subtitle="Monitor payments as they happen, ensuring transparency and peace of mind."
				image={feature03} 
				link="/features"
			/>
		</Col>
		<Col span="4" classes="flex flex-col gap-6">
			<Card
				title="Simple Invoicing"
				subtitle="Create, send, and manage invoices effortlessly, simplifying financial operations for businesses."
				image={feature04} 
				link="/features"
			/>
			<Card
				title="Multi-Device Access"
				subtitle="Access PayWithIt on web and mobile platforms, ensuring you can manage payments anytime, anywhere."
				image={feature05} 
				link="/features"
			/>
		</Col>
	</Row>
</Section>
